# Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# Cache
.vs/

# Temporary files
*.tmp
*.log
*.bak
*~
